.wrapperInput {
  background-color: var(--primary-color);
  color: var(--text-primary);
  margin: .6rem auto;
}
.wrapperIcon {
  padding: .5rem;
  border-right: 1px solid var(--text-primary);
}
.wrapperIconSpecial {
  padding: .5rem;
  width: 4rem;
  cursor: pointer;
}
.btnWrapper {
  margin-top: .6rem;
  width: 100%;
}
form .btnWrapper button {
  width: 100%;
}
form .btnWrapper span {
  width: 100%;
}
.btnWrapper button {
  margin-top: 1.5rem;
}
.checkBox {
  accent-color: var(--text-primary);
  display: inline-block;
}
form label {
  display: inline-block;
  margin-left: .4rem;
}
@media screen and (max-width: 1223px) {
  .wrapper {
    flex-wrap: wrap;
  }
}