/* .container * {
  border: 1px solid red;
} */
.container {
  min-height: 100vh;
  min-width: 100%;
  font-size: 1rem;
  gap: 1em;
  overflow: hidden;
}
.container .navbar {
  top: 0;
  width: 100%;
  box-shadow: 0 .1rem .2rem var(--secondary-color);
  padding: .6rem 3.5rem;
}
.container .cardWrapper {
  min-height: 27rem;
  width: 25rem;
  position: relative;
  margin: 1rem;
}
.container .cardWrapper .card {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
  border: 1px solid var(--text-primary);
  color: var(--text-primary);
  transform-style: preserve-3d;
  transition: all 0.8s;  
}
.flipped {
  transform: rotateX(180deg);
}
.swipe {
  position: absolute;
  right: 100%;
  border: 1px solid var(--text-primary);
  border-right: none;
  width: 2rem;
  cursor: pointer;
  color: var(--text-primary);
}
.container .cardWrapper .card h1 {
  text-align: center;
}
.container .cardWrapper .card p {
  text-align: center;
  font-size: .75rem;
  padding: .9rem;
}
.container .cardWrapper .card a {
  text-decoration: none;
  color: var(--text-primary);
  font-weight: 700;
}
.container .cardWrapper .card a:hover {
  text-shadow: none;
}
.container .cardWrapper .card .frontSide {
  padding: 1rem;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.container .cardWrapper .card .backSide {
  padding: 1rem;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform: rotateX(180deg);
}
@media screen and (max-width: 1024px) {
  .container .navbar {
    padding: .6rem 2rem;
  }
}