::selection {
  background-color: var(--text-primary) !important;
  color: var(--primary-color) !important;
}

.container  {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center; 
}
.container .menu {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: 1rem;
}
.container .noteEditor {
  width: 100%;
  background-color: var(--primary-color);
  padding: 0rem 4rem 0 4rem;
  margin-top: 4rem;
}
.container .noteEditor input {
  font-size: 3rem;
  padding: 0;
  border: none;
  margin-bottom: 1rem;
}
.container .noteEditor input:focus {
  outline: none;
}
.container .noteEditor .tagsContainer {
  padding: 0rem 0 1rem 0;
  display: flex;
  gap: .5rem;
}
.container .noteEditor .tagsContainer .tag {
  padding: .25rem;
  background-color: var(--text-primary);
  color: var(--primary-color);
  border-radius: .4rem;
}
.container .navbar {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-color);
  box-shadow: 0 .1rem .2rem var(--secondary-color);
  padding: .6rem 3.5rem;
  z-index: 2;
}
.container .navbar .navigate {
  display: flex;
  align-items: center;
  gap: .5rem;
  background-origin: var(--secondary-color);
  cursor: pointer;
}
.tagButton {
  display: flex;
  gap: .5rem;
  padding: .5rem;
  align-items: center;
  cursor: pointer;
  margin: 0 0 .25rem 0;
}

@media screen and (max-width: 1024px) {
  .container .noteEditor {
    max-width: 100%;
    background-color: var(--primary-color);
    padding: 1rem;
  }
  .container .noteEditor input {
    font-size: 1.7rem;
  }
  .container .navbar {
    padding: .6rem 2rem;
  }
}