.tagDialog {
  z-index: 2;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
  background-color: var(--primary-color);
  max-width: 25rem;
  border: 1px solid var(--text-primary);
}
.tagDialog .header {
  font-size: 3rem;
}
.tagDialog .body {
  display: flex;
  gap: 1rem;
}
.tagDialog .body .tagItem {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.tagDialog input, label {
  display: block;
  font-size: 1rem;
  accent-color: var(--text-primary);  
}
.tagDialog input, label:hover {
  cursor: pointer;
}
.tagDialog .footer {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
}