.container {
  min-height: 100vh;
  width: 100%;
}
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-color);
  box-shadow: 0 .1rem .2rem var(--secondary-color);
  padding: .6rem 3.5rem;
  z-index: 2;
}
::selection {
  background-color: var(--primary-color);
  color: var(--text-primary);
}
.navbarComponent {
  display: flex;
  align-items: center;
  gap: .5rem;  
}
.navbarComponent:hover {
  cursor: pointer;
}
.popUpMenu {
  display: flex;
  position: absolute;
  right: 2%;
  top: 120%;
  border-radius: .25rem;
  box-shadow: 0 .1rem .2rem var(--secondary-color);
  overflow: hidden;
}
.popUpMenu ul {
  display: block;
  list-style: none;
}
.popUpMenu ul li {
  padding: .4rem 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: .75rem 1rem;
  gap: .5rem;
}
.popUpMenu ul li:hover {
  background-color: var(--text-primary);
  color: var(--primary-color);
}
.wrapper {
  padding: 2rem;
}
.header {
  margin-top: 4rem;
  font-size: 2rem;
}
.body {
  padding: .75rem 0;
}
.tagsContainer {
  margin: 2rem 0;
  display: flex;
  gap: .5rem;
}
.tag {
  padding: .25rem;
  background-color: var(--text-primary);
  color: var(--primary-color);
  border-radius: .4rem;
}
.customCancelButton {
  color: var(--text-primary) !important;
}