.container {
  z-index: 2;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
  background-color: var(--primary-color);
  min-width: 20rem;
  border: 1px solid var(--text-primary);
}
.container .body {
  display: flex;
  gap: 1rem;
}
.container .body .inputWrapper {
  width: 100%;
  margin: 1rem 0;
}
.container .footer {
  display: flex;
  gap: 1rem;
  justify-content: end;
}