
.footer {
  background-color: var(--primary-color);
  border-top: 2px solid var(--text-primary);
  color: var(--text-primary);
  padding: 4rem;
  gap: 10rem;
  margin: 0 1rem;
  flex-wrap: wrap;
}
.gap {
  gap: 2em;
}
.footer h3 {
  font-size: 1rem;
}
.footer a {
  display: flex;
  text-decoration: none;
  color: var(--text-primary);
}
.footer ul {
  list-style: none;
}
@media screen and (max-width: 1223px) {
  .footer {
    padding: 1.2em 0.4em;
    gap: 3.5em;
  }
  .gap {
    gap: 1em;
  }
}