input[type=text], input[type=password], input[type=email] {
  width: 100%;
  font-size: 1rem;
  padding: .6rem 1rem;
  display: block;
  background-color: var(--primary-color);
  border: none;
  color: var(--text-primary);
}
input[type=text]:focus, input[type=password]:focus, input[type=email]:focus {
  outline: none;
}
.btnToggle {
  display: flex;
  position: relative;
  width: 4.8em;
  height: 1.6em;
  background-color: var(--primary-color);
  cursor: pointer;
}
.slider {
  display: block;
  z-index: 3;
  position: absolute;
  width: 50%;
  height: 100%;
  background-color: var(--text-secondary);
  transition: all 400ms;
}
.sliderInfo {
  z-index: 1;
  display: block;
  line-height: 1.6;
  text-align: center;
  width: 50%;
  height: 100%;
  background-color: none;
  color: var(--text-primary);
}
input[type=checkbox] {
  width: 1rem;
  accent-color: var(--primary-color);
}
label {
  display: block;
  margin: 1rem auto;
}