input[type=text], input[type=password], input[type=email] {
  width: 100%;
  font-size: 1rem;
  padding: .6rem 1rem;
  display: block;
  background-color: var(--primary-color);
  border: none;
  color: var(--text-primary);
}
input[type=text]:focus, input[type=password]:focus, input[type=email]:focus {
  outline: none;
}
.confirmCheckBox {
  display: inline-flex;
  gap: .6rem;
  align-items: center;
}
.confirmCheckBox label {
  display: inline-block;
}
.confirmCheckBox input[type=checkbox] {
  display: none;
  width: 1rem;
  height: 1rem;
}
.btnToggle {
  display: flex;
  width: 2em;
  height: 1em;
  background-color: var(--secondary-color);
}
.slider {
  display: block;
  width: 50%;
  height: 100%;
  background-color: var(--text-accent);
}
.confirmCheckBox input[type=checkbox]:checked + label {
  color: red;
}
.confirmCheckBox input[type=checkbox]:checked + label .btnToggle {
  background-color: red;  
}
label {
  display: block;
  margin: 1rem auto;
}