@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;500;600;700&family=Raleway&display=swap');

:root {
  --primary-color:  #fff;
  --secondary-color:  #ccc;
  --accent-color: #35383B;
  --alternative-color: #F7F7F7;
  --text-primary: #16171A;
  --text-secondary: #2B2C2F;
  --text-accent: #275774;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter';
}

body {
  background-color: var(--primary-color);
}